@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color:rgb(245, 161, 6);
    --background: rgba(255, 166, 0, 0.151);
}
.PagCompleta{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--background);
}


.enlaces{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.fotoNombre{
    width: 50%;
    max-width: 400px;
    min-height: 150px;
    margin-top: 10%;
    margin-left: 20%;
    /* margin-right: 10%; */
}

.principal{
    height: 50%;
    text-decoration: none;
}
.principal li a{
    text-decoration: none;
    color: black;
    /* margin:20px ; */
}

.principal li a:hover{
    color: orange;
    /* font-size: x-large; */
    border-bottom: 2px solid black;
}

.principal li a:active{
    color: orange;
    border-bottom: 2px solid orange;
}

.principal li{
    list-style: none;
    text-align: right;
    list-style: none;
    padding-right: 10%;
    margin: 12px;
    /* padding: 5px; */
    font-size:larger;
}

.fotoPortada{
    width: 50%;
}

.foto{
    transition: 1s;
    border-radius: 50% 0% 0% 50%;
    float: right;
    width: 100%;
    margin-left: 50% ;
    max-width: 650px;
    min-height: 560px;
}
