*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns:2fr 1fr 2fr 2fr 1fr 2fr ;
    grid-template-rows: 2fr 1fr;
}
.a{
    background-color: greenyellow;
}
.b{
    background-color: black;
}
.c{
    background-color: greenyellow;
}
.d{
    background-color: black;
}
.e{
    background-color: greenyellow;
}
.f{
    background-color: black;
}